<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="stylesheets/game.css" />
        <script src="javascripts/game.js"></script>
    </head>
    <body>
    </body>
</html>
