doctype 5
html
    head
        title Sandbox
        link(rel='stylesheet', href='stylesheets/pure-min.css')
        link(rel='stylesheet', href='stylesheets/game.css')
        script(src='javascripts/game.js')
