<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <h2>How does this work?</h2>
        <p>This is a Bitcoin dice game. Send your bet amount to the bitcoin
        address below. Winnings will be sent back to your bitcoin address.</p> 
        <p>Odds of winning are 1/2 with a 2x payout. House edge is 1%.</p>
        <h1>Bitcoin address: <%= wallet_address %></h1>
    </body>
</html>
