body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

canvas,
button {
	display: block;
}

button {
	margin-bottom: 0.5em;
}

fieldset:last-child {
	padding-bottom: 0;	
}

#sandbox-options,
#sandbox-options legend {
	color: white;
}

#sandbox-options {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: rgba(1, 1, 1, 0.8);
	padding: 20px;
	border-radius: 4px;
}

#sandbox-options h1 {
	font-size: 1.5em;
	margin-top: 0;
}